:root {
    --spain-color1: rgb(242, 185, 0);
    --spain-color2: rgb(188, 10, 28);
    --british-color1: rgb(3, 0, 98);
    --british-color2: rgb(195, 0, 2);
    --british-color3: rgb(240, 242, 242);
    --size-flag: 15rem;
    --font-size: xx-large;
}

@layer basic, basic-flag, flags;

@layer basic-flag {
    .main-container-position {
        position: absolute;
        top: 100px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: justify;
    }
    @media only screen and (max-width: 850px) {
        .main-container-position {
            position: relative;
            left: 0;
            margin-bottom: 100px;
        }
    }
    .btn {
        -webkit-text-stroke: 0.5px black;
        color: white;
        font-weight: 800;
        font-size: var(--font-size);
        border: none;
        width: var(--size-flag);
        aspect-ratio: 1/0.7;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@layer flags {
    .spain {
        background-color: var(--spain-color1);
        position: relative;
        -webkit-text-stroke: 0.5px var(--spain-color2);
    }

    .spain::before,
    .spain::after {
        content: "";
        background-color: var(--spain-color2);
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(100% / 3);
    }

    .spain::before {
        top: 0;
    }

    .spain::after {
        bottom: 0;
    }
}

@layer flags {
    .british {
        position: relative;
        background-color: var(--british-color1);
    }

    .british::before {
        content: "";
        position: absolute;
        top: -40%;
        left: 45%;
        width: calc(100% / (7 * 2));
        height: 180%;
        rotate: 55deg;
        transform-origin: center;
        background-color: var(--british-color2);
        box-shadow: 0 0 0 3px var(--british-color3);
    }

    .british::after {
        content: "";
        position: absolute;
        top: -40%;
        left: 45%;
        width: calc(100% / (7 * 2));
        height: 180%;
        rotate: -55deg;
        transform-origin: center;
        background-color: var(--british-color2);
        box-shadow: 0 0 0 3px var(--british-color3);
    }

    .british > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .british > div::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - (100% / (7 * 2)));
        background-color: var(--british-color2);
        width: calc(100% / 7);
        height: 100%;
        box-shadow: 0 0 0 1px var(--british-color3);
    }
    .british > div::after {
        content: "";
        position: absolute;
        top: calc(50% - (100% / (7 * 2)));
        left: 0;
        background-color: var(--british-color2);
        width: 100%;
        height: calc(100% / 7);
        box-shadow: 0 0 0 2px var(--british-color3);
    }

    .british > div > span {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .british > div > span::before {
        content: "English";
        position: absolute;
        top: calc(52% - (100% / 7));
        left: calc(42% - (100% / 7));
        z-index: 1;
        -webkit-text-stroke: 0.5px var(--british-color2);
    }
}

@layer basic {
    .text-flag {
        opacity: 0;
    }

    .text-flag:hover,
    .text-flag:active {
        opacity: 1;
    }
}
